.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero {
    margin: 26px 77px 0px 77px;
}
.hero_collage {
    max-width: 100vw;
    padding:20px 0px 10px 30px
}
.hero_title {
    margin-top:5px;
    font-weight: 700;
    font-size: 4em;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 16px;
   
}
.subtitle {
    max-width: 450px;
    margin-left:50px;
    margin-right: auto;
    font-weight: 300;
    font-size: 23px;
    margin-top: 0px;
}